<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- <add name="bubblrConnectionString" connectionString="Data Source=125.212.218.20\MSSQLSERVER2016;Initial Catalog=bubblr;Persist Security Info=True;User ID=test3;Password=@4Bbc6j3"
      providerName="System.Data.SqlClient" />-->
    <add name="bubblrConnectionString" connectionString="Data Source=targetvn.com;Initial Catalog=bubblr;Persist Security Info=True;User ID=admin_db2;Password=Kid3101@@"
     providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>

    <add key="SecurityKey" value="Chat@3123" />

  </appSettings>

</configuration>