<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="bubblrConnectionString" connectionString="Data Source=125.212.218.20\MSSQLSERVER2016;Initial Catalog=bubblr;Persist Security Info=True;User ID=test3;Password=@4Bbc6j3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="SecurityKey" value="Chat@3123"/>
  </appSettings>
</configuration>